{% load static %}
<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>aoty_design</title>
    <link rel="stylesheet" href="{% static 'myapp/assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat&amp;display=swap">
    <link rel="stylesheet" href="{% static 'myapp/assets/css/aoty.css' %}">
    <link rel="stylesheet" href="{% static 'myapp/assets/css/Articles-Badges-images.css' %}">
</head>

<body style="background: #000000;">
    <div class="d-flex" style="height: 100vh;padding: 1%;">
        <div style="background: #1e1e1e;width: 25%;height: 100%;border-radius: 20px;padding: 2%;">
            <div class="d-flex justify-content-center align-items-center align-content-center"
                style="height: 15%;margin-bottom: 10%;"><img style="height: 100%;width: 100%;"
                    src="{% static 'myapp/assets/img/aoty.svg' %}"></div>
            <div style="height: 12%;width: 100%;margin-bottom: 10%;"><button class="btn btn-primary" type="button"
                    style="width: 100%;height: 100%;border-style: none;background: #292929;border-radius: 20px;padding: 5%;"><img
                        style="height: 100%;width: 100%;" src="{% static 'myapp/assets/img/eksplorasi.svg' %}"></button>
            </div>
            <div style="height: 12%;width: 100%;margin-bottom: 10%;"><button class="btn btn-primary" type="button"
                    style="width: 100%;height: 100%;border-style: none;background: #292929;border-radius: 20px;padding: 5%;"><img
                        style="height: 100%;width: 100%;"
                        src="{% static 'myapp/assets/img/koleksi-saya.svg' %}"></button></div>
            <div style="height: 12%;width: 100%;margin-bottom: 10%;"><button class="btn btn-primary" type="button"
                    style="width: 100%;height: 100%;border-style: none;background: #292929;border-radius: 20px;padding: 5%;"><img
                        style="height: 100%;width: 100%;"
                        src="{% static 'myapp/assets/img/rekomendasi.svg' %}"></button></div>
            <div class="d-flex flex-column justify-content-center align-items-center align-content-center"
                style="width: 100%;height: 35%;"><span
                    style="color: #FFFFFF;font-family: Montserrat, sans-serif;font-weight: bold;font-size: 120%;">©
                    Presented By</span><span
                    style="color: #FFFFFF;font-family: Montserrat, sans-serif;font-size: 120%;">Mirah | Mananda |
                    Yodya</span></div>
        </div>
        <div style="height: 100%;padding: 2%;background: #1e1e1e;width: 75%;margin-left: 1%;border-radius: 20px;">
            <div class="container" style="width: 100%;height: 100%;">
                <div class="d-flex justify-content-center align-items-center align-content-center"
                    style="width: 100%;height: 50%;">
                    {% for album, artis, thumbnail in album_atas %}
                    <div class="text-nowrap d-flex flex-column justify-content-center align-items-center align-content-center ratio-1x1"
                        style="height: 200px;margin: 2.5%;width: 150px;overflow-x: clip;"><img
                            style="width: 100%;height: 100%;border-radius: 10px;overflow: clip;margin-bottom: 10%;"
                            src="{{ thumbnail }}"><span class="flex-nowrap"
                            style="font-family: Montserrat, sans-serif;font-size: 125%;color: var(--bs-secondary-bg);font-weight: bold;width: 100%;height: 100%;">{{ album }}</span><span
                            style="font-family: Montserrat, sans-serif;font-size: 125%;color: var(--bs-secondary-bg);width: 100%;height: 100%;">{{ artis }}</span></div>
                    {% endfor %}
                </div>
                <div class="d-flex justify-content-center align-items-center align-content-center"
                    style="width: 100%;height: 50%;">
                    {% for album, artis, thumbnail in album_bawah %}
                    <div class="text-nowrap d-flex flex-column justify-content-center align-items-center align-content-center ratio-1x1"
                        style="height: 200px;margin: 2.5%;width: 150px;overflow-x: clip;"><img
                            style="width: 100%;height: 100%;border-radius: 10px;overflow: clip;margin-bottom: 10%;"
                            src="{{ thumbnail }}"><span class="flex-nowrap"
                            style="font-family: Montserrat, sans-serif;font-size: 125%;color: var(--bs-secondary-bg);font-weight: bold;width: 100%;height: 100%;">{{ album }}</span><span
                            style="font-family: Montserrat, sans-serif;font-size: 125%;color: var(--bs-secondary-bg);width: 100%;height: 100%;">{{ artis }}</span></div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>